HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/test/java/pro/sky/java/coursework_2/examineservice/
/src/test/java/pro/sky/java/coursework_2/CourseWork2ApplicationTests.java
/src/main/java/pro/sky/java/coursework_2/examineservice/service/MathQuestionService.java
/src/main/java/pro/sky/java/coursework_2/examineservice/exceptions/AmountMoreSizeQuestionsException.java
/mvnw.cmd
/src/main/java/pro/sky/java/coursework_2/examineservice/service/JavaQuestionService.java
/src/main/java/pro/sky/java/coursework_2/examineservice/controller/MathQuestionController.java
/src/main/java/pro/sky/java/coursework_2/examineservice/service/ExaminerService.java
/src/main/java/pro/sky/java/coursework_2/examineservice/constants/ConstantsQuestionService.java
/src/main/resources/
/src/main/java/pro/sky/java/coursework_2/examineservice/repository/QuestionRepository.java
/src/test/java/pro/sky/java/coursework_2/examineservice/repository/JavaQuestionRepositoryTest.java
/mvnw
/src/test/java/pro/sky/java/coursework_2/examineservice/service/constants/
/src/test/java/pro/sky/java/coursework_2/examineservice/repository/MathQuestionRepositoryTest.java
/src/main/resources/application.properties
/src/main/java/pro/sky/java/coursework_2/examineservice/repository/MathQuestionRepository.java
/src/main/
/src/main/java/pro/sky/java/coursework_2/examineservice/controller/ExamController.java
/src/main/java/pro/sky/java/coursework_2/examineservice/constants/
/src/test/java/
/src/test/java/pro/sky/java/coursework_2/examineservice/service/JavaQuestionServiceTest.java
/src/main/java/
/pom.xml
/src/
/src/main/java/pro/sky/java/coursework_2/examineservice/controller/JavaQuestionController.java
/src/test/java/pro/sky/java/coursework_2/examineservice/service/constants/ConstantsQuestionService.java
/src/main/java/pro/sky/java/coursework_2/examineservice/service/QuestionService.java
/src/test/java/pro/sky/java/coursework_2/examineservice/service/MathQuestionServiceTest.java
/.idea/
/.mvn/
/src/main/java/pro/sky/java/coursework_2/examineservice/controller/
/src/test/java/pro/sky/java/coursework_2/examineservice/repository/
/src/main/java/pro/sky/java/coursework_2/examineservice/CourseWork2Application.java
/src/test/java/pro/sky/java/coursework_2/examineservice/service/ExaminerServiceImplTest.java
/src/main/java/pro/sky/java/coursework_2/examineservice/service/
/src/main/java/pro/sky/java/coursework_2/examineservice/repository/
/src/main/java/pro/sky/java/coursework_2/examineservice/domain/Question.java
/src/main/java/pro/sky/java/coursework_2/examineservice/exceptions/
/src/test/java/pro/sky/java/coursework_2/examineservice/service/
/src/main/java/pro/sky/java/coursework_2/examineservice/
/src/test/java/pro/sky/java/coursework_2/
/src/test/
/src/main/java/pro/sky/java/coursework_2/examineservice/domain/
/src/main/java/pro/sky/java/coursework_2/examineservice/service/ExaminerServiceImpl.java
/src/main/java/pro/sky/java/coursework_2/examineservice/repository/JavaQuestionRepository.java
